<div class="modal fade" id="courseSubModuleModal" tabindex="-1" aria-labelledby="courseSubModuleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-primary" id="courseSubModuleModalLabel">
                    <span id="courseSubModuleTitle"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered align-middle" id="courseSubModuleList" width="100%" cellspacing="0">
                        <thead class="table-light">
                            <tr>
                                <th>Module</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamic rows will be injected here -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-times me-1"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>