<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="lmsdbEntities" connectionString="metadata=res://*/DBEntity.AdminDBEntity.csdl|res://*/DBEntity.AdminDBEntity.ssdl|res://*/DBEntity.AdminDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:atf-prod-db.database.windows.net,1433;Initial Catalog=ELG-Prod-DB;Persist Security Info=False;User ID=atf-db-admin;Password=REDACTED;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="learnerDBEntities" connectionString="metadata=res://*/DbEntityLearner.learnerDbEntity.csdl|res://*/DbEntityLearner.learnerDbEntity.ssdl|res://*/DbEntityLearner.learnerDbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:atf-prod-db.database.windows.net,1433;Initial Catalog=ELG-Prod-DB;Persist Security Info=False;User ID=atf-db-admin;Password=REDACTED;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="superadmindbEntities" connectionString="metadata=res://*/DBEntitySA.sadbEntity.csdl|res://*/DBEntitySA.sadbEntity.ssdl|res://*/DBEntitySA.sadbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:atf-prod-db.database.windows.net,1433;Initial Catalog=ELG-Prod-DB;Persist Security Info=False;User ID=atf-db-admin;Password=REDACTED;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
