<!-- Pie Chart -->
<div class="col-xl-12 col-lg-12">
    <div class="x_panel tile">
        <!-- Card Header - Dropdown -->
        <div class="x_title">
            <h6 class="">
                User Quota Summary
            </h6>
        </div>
        <!-- Card Body -->
        <div class="x_content">
            <div class="chart-pie pt-4 pb-2">
                <canvas id="dash_user_quota_chart"></canvas>
            </div>
        </div>
    </div>
</div>
