<!-- Pie Chart -->
    <div class="x_panel tile">
        <!-- Card Header - Dropdown -->
        <div class="x_title">
            <h6 class="">
                Completions Recorded
                <span class="float-end"><a class="collapse-item" id="lnk-summary-report" href="@Url.Action("Summary", "Report")">View Details</a></span>
            </h6>
        </div>
        <!-- Card Body -->
        <div class="x_content">
            <div class="chart-pie pt-4 pb-2">
                <canvas id="dash_course_completion_chart"></canvas>
            </div>
        </div>
    </div>
