<!-- Project Card Example -->
<div class="x_panel tile">
    <div class="x_title">
        <h6 class="">Course Consumption Statistics</h6>
    </div>
    <div class="x_content" id="licenceUsageContainer">
    </div>
</div>