<!-- Color System -->
@*<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card bg-primary text-white shadow">
            <div class="card-body">
                New Users
                <div>
                    <ul>
                        <li>Last 7 days: 5</li>
                        <li>Last 1 month: 10</li>
                        <li>Last 3 months: 15</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                Licenses Assigned
                <div>
                    <ul>
                        <li>Last 7 days: 5</li>
                        <li>Last 1 month: 10</li>
                        <li>Last 3 months: 15</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card bg-info text-white shadow">
            <div class="card-body">
                Test Passed
                <div>
                    <ul>
                        <li>Last 7 days: 5</li>
                        <li>Last 1 month: 10</li>
                        <li>Last 3 months: 15</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                Test Failed
                <div>
                    <ul>
                        <li>Last 7 days: 5</li>
                        <li>Last 1 month: 10</li>
                        <li>Last 3 months: 15</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>*@
