<div class="modal fade" id="locationListForAdminRightsModal" tabindex="-1" aria-labelledby="locationListForAdminRightsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="locationListForAdminRightsLabel">
                    <i class="fa fa-map-marker me-2"></i>@ELG.Web.Helper.SessionHelper.CompanySettings.strLocationDescription
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="divLocationAdminRightErrorMessage" role="alert"></div>

                <div class="table-responsive">
                    <table class="table table-hover align-middle" id="assignAdminToLocationList" width="100%">
                        <thead>
                            <tr>
                                <th>@ELG.Web.Helper.SessionHelper.CompanySettings.strLocationDescription</th>
                                <th class="text-center" style="width: 20%;">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>