<div class="modal fade" id="departmentListForAdminRightsModal" tabindex="-1" aria-labelledby="departmentListForAdminRightsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="departmentListForAdminRightsLabel">
                    @ELG.Web.Helper.SessionHelper.CompanySettings.strDepartmentDescription
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Alert Message -->
                <div id="divDepartmentAdminRightErrorMessage" role="alert"></div>

                <!-- Location Filter -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <select id="ddlAssignAdminLocation" class="form-select ddl-loc">
                                <option value="0">Select</option>
                            </select>
                            <label for="ddlAssignAdminLocation">@ELG.Web.Helper.SessionHelper.CompanySettings.strLocationDescription</label>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered align-middle" id="assignAdminToDepartmentList" width="100%">
                        <thead class="table-light">
                            <tr>
                                <th>@ELG.Web.Helper.SessionHelper.CompanySettings.strDepartmentDescription</th>
                                <th class="text-center" style="width: 20%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Data will be populated dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>