@model ELG.Web.Models.ForgetPasswordViewModel
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="login-page-container">
    <div class="left-section">
        <div class="image-overlay"></div>
        <div class="content">
            <div class="branding">
                <img src="" alt="LMS Logo">
            </div>
            <div class="line-partition"></div>
            <h1 id="introTxt">Fraud Compliance <br />Training Solutions</h1>
        </div>
    </div>
    <div class="right-section">
        <div class="brand-content">
            <div class="branding">
                <img src="" alt="LMS Logo">
            </div>
        </div>
        <h1 id="page-title"><span class="txt-highlight">Forgot</span> Password?</h1>
        <p>Please enter your email address below, and we will send you a link to reset your password.</p>
        <form id="learnerForgetpwd">
            <!--Alert message-->
            <div role="alert" id="divErrorMessage"></div>

            @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter Email Address..." })
            <button type="button" data-loading-text="Logging..." data-original-text="Reset Password" class="btn btn-primary btn-user btn-block" id="btnResetPassword">
                Reset Password
            </button>
            <div class="line-partition mb-2"></div>
            <p class="change_link mt-4">
                Already have an account? <a href="@Url.Action("Login" , "Account")" class="txt-highlight mt-3">Login</a>
            </p>
        </form>

    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/Admin/Accounts/ForgetPassword.js"></script>
}