
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#btnLogin {
    min-height: 45px;
}
/** Buttons */

.elg-lnk-btn {
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    height: 24px;
    /*width: 100%;*/
    border: none;
    font-weight: 450;
    line-height: 150%;
    text-decoration: none;
    color: var(--color-primary) !important;
}

.elg-btn, .btn {
    border: none;
    cursor: pointer;
    font-size: 18px;
    height: 45px;
    /*width: 100%;*/
    border-radius: 22.5px;
    font-weight: 500;
    line-height: 150%;
    padding: .375rem .75rem !important;
}

.btn-sm {
    height: auto;
    max-width: 40%;
}

.elg-btn:hover, .btn:hover {
    opacity: .75;
}


.elg-btn-primary, .btn-primary, .btn-dark {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
}

.elg-btn-secondary, btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.elg-btn-transparent {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.elg-btn-search {
    background-color: transparent;
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.password-container{
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
    padding-right: 40px;
}

#adminLoginForm i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--color-primary) !important;
    margin-top: -12px;
}

/* Responsive Adjustments for Desktop */
@media (min-width: 768px) {
    .login-page-container {
        flex-direction: row; /* Side-by-side sections for tablets and desktops */
    }

    .right-section .brand-content {
        display: none;
    }

    .right-section .line-partition {
        display: none;
    }
}
