<!-- Area Chart -->
<div class="col-xl-12 col-lg-12">
    <div class="x_panel tile">
        <!-- Card Header - Dropdown -->
        <div class="x_title">
            <h6 class="">Usage Summary</h6>
        </div>
        <!-- Card Body -->
        <div class="x_content">
            <div class="chart-area">
                <canvas id="dash_yearly_data_chart"></canvas>
            </div>
        </div>
    </div>
</div>