:root {
    --color-primary: #80692e;
    --color-secondary: #005380;
    --color-white: #FFF;
    --color-dark: #236251;
    --color-light: #3BA588;
    --color-hightlight: #005380;
    --color-black: #181114;
    --dash-complete: #0CC078;
    --dash-progress: #FCFC99;
    --dash-incomplete: #FB6962;
    --dash-notstarted: #D3D3D3;
    --dash-line-graph: #79DE79;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Lato', sans-serif !important;
}


/** Background color */
.bg-body {
    background-color: var(--color-white) !important;
}
.bg-primary {
    background-color: var(--color-primary) !important;
}
.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-white {
    background-color: var(--color-white) !important;
}

.bg-highlight {
    background-color: var(--color-hightlight) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.bg-light {
    background-color: var(--color-light) !important;
}

/** Text color */

.txt-primary {
    color: var(--color-primary) !important;
}

.txt-secondary {
    color: var(--color-secondary) !important;
}

.txt-white {
    color: var(--color-white) !important;
}

.txt-highlight {
    color: var(--color-hightlight) !important;
}

.txt-dark {
    color: var(--color-dark) !important;
}

.txt-light {
    color: var(--color-light) !important;
}
.txt-status {
    font-size:13px;
}
.txt-PASSED, .txt-COMPLETED {
}
.txt-FAILED {
}
.txt-NOT-STARTED {
}
.txt-IN-PROGRESS {
}
/**************************************************************     END COLORS     *******************************************************************/
/* side menu */
.learner-menu-bar .logo img {
    content: url("logo.png");
}

.learner-menu-bar {
    background-color: var(--color-white) !important;
   color: var(--color-primary) !important;
}
.learner-menu a {
    color: var(--color-primary) !important;
}
.learner-menu a:hover, .learner-menu a.active {
    background-color: rgba(128, 105, 46, 0.7) !important;
    color: var(--color-white) !important;
}

/* Profile Section */
.profile {
    background-color: var(--color-white) !important;
}

/** Text Element*/
p {
    font-size: 16px;
    font-weight: 450;
    line-height: 150%;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    color: var(--color-black) !important;
}

.card-content h2 {
    font-size: 48px;
    color: var(--color-black) !important;
}

.card-content p {
    color: var(--color-black) !important;
}
/**************************************************************     END TEXT ELEMENTS     *******************************************************************/
/* Login Screen */
/* Left Section */
.left-section {
    display: none;
}

    .left-section .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(236, 238, 241, 0.5);
        z-index: 1;
    }

    .left-section .content {
        position: relative;
        z-index: 2;
        width: 100%;
        padding-right: 100px;
    }

    .branding img {
        content: url("logo.png");
        width: 250px;
        margin-bottom: 10px;
    }

.left-section .line-partition {
    display: none;
}

.left-section h1 {
    display: none;
}
.footer-branding{
    display:none;
}
/* Right Section */
    .right-section {
        flex: 1;
        color: var(--color-black);
        padding: 20px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }

    form input {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 18px;
        border: 1px solid var(--color-secondary);
        border-radius: 1px;
    }

.line-partition {
    border-top: 1px solid var(--color-primary);
}

/* style for screen bigger than mobile */

@media (min-width: 768px) {

    .left-section {
        display: flex;
        flex: 1.75;
        position: relative;
        background: url('landingBG.png') no-repeat center center;
        background-size: cover;
        color: var(--color-white);
        padding-top: 50px;
        padding-left: 50px;
        text-align: left;
        height: auto;
    }

    .branding {
        margin-bottom: 100px;
    }

    h1 {
        font-weight: 400;
        font-size: 64px;
    }

    p {
        font-size: 18px;
    }

    .right-section {
        flex: 1.25;
        height: auto;
        text-align: left;
        padding: 100px 100px 0 150px;
    }

    .branding img {
        max-width: 250px;
    }

    .branding h1 {
        font-size: 24px;
    }

    .right-section h2 {
        font-size: 22px;
    }

    form input {
        padding: 12px;
        font-size: 18px;
    }

    .elg-lnk-btn, .elg-btn {
        width: 240px !important;
    }
    .elg-btn-sm {
        width: 120px !important;
    }
}

/**************************************************************     END LOGIN SCREEN     *******************************************************************/


.learner-main-content {
    margin-left: 250px; /* Match the width of the sidebar */
    transition: margin-left 0.3s ease; /* Smooth transition */
    padding: 20px;
}

/* Mobile Styles (Collapse Sidebar) */
@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show hamburger menu on mobile */
    }

    .learner-menu-bar {
        transform: translateX(-100%); /* Hide sidebar by default in mobile */
        z-index: 1000;
    }

    .learner-menu-bar.open {
        transform: translateX(0); /* Show sidebar when open */
    }

    .learner-main-content {
        margin-left: 0; /* Adjust content margin when sidebar is hidden */
    }
}

.search-box {
    font-size: 15px;
    color: var(--color-black);
    outline: none;
    height: 46px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--color-black);
    width: 100%;
}

/** Course card*/
.postcard {
    box-shadow: unset !important;
    border-radius: 20px;
    border: 1px solid #000;
}


/******************************************* DATA TABLES **************************************************/
.dataTables_paginate a {
    background: var(--color-primary) !important;
    margin: 1px;
    color: var(--color-white);
    text-decoration: none;
    background-color: transparent;
}

    .dataTables_paginate a:hover {
        cursor: pointer;
    }

    .dataTables_paginate a.disabled {
        cursor: not-allowed;
        background: var(--color-secondary) !important;
    }